---
import Base from '../layouts/Base.astro';
import Hero from '../components/sections/Hero.astro';
import OneColumn from '../components/sections/OneColumn.astro';
---
<Base title="Join us">
  <Hero title="Join us" breadcrumb="Engage with us/" image="/wp-content/uploads/2023/11/AG-Seb-Stein-Team-Working-resize-joinus.jpg" />

  <OneColumn>
    <p>If you are interested in working with us, as a PhD student, intern, collaborator or postdoc, please contact us.</p>
    <a href="mailto:ss2@ecs.soton.ac.uk" class="customButton button-primary" aria-label="Contact Prof Sebastian Stein">Contact Prof Sebastian Stein</a>
  </OneColumn>
</Base>
