---
import Base from '../layouts/Base.astro';
import Hero from '../components/sections/Hero.astro';
import OneColumn from '../components/sections/OneColumn.astro';
---
<Base title="Join us">
  <Hero title="Join us" breadcrumb="Engage with us/" image="/wp-content/uploads/2023/11/AG-Seb-Stein-Team-Working-resize-joinus.jpg" />

  <OneColumn>
    <h2><span style="color: #450dc0">Research Position</span></h2>
    <p>We are currently looking for a postdoctoral researcher to work jointly with the CCAIS and FEVER teams on AI for electric vehicle charging. This is a 2-year fixed-term position. The application deadline is on 20th February 2024.</p>
    <a href="https://jobs.soton.ac.uk/Vacancy.aspx?id=42149" target="_blank" class="customButton button-primary" aria-label="Apply online">Apply online</a>
  </OneColumn>

  <OneColumn>
    <h2><span style="color: #d5007f">PhD Studentship</span></h2>
    <p>We are actively looking for enthusiastic and talented students who are interested in working towards a PhD with supervisors from the CCAIS team.</p>
    <p>Current potential topics:</p>
    <ul>
      <li>Trustworthy Human-AI Collaboration based on Reinforcement Learning and Foundation Models<br /> (Supervisors: Vahid Yazdanpanah and Sebastian Stein)</li>
      <li>Reinforcement Learning for Smart Electric Vehicle Charging<br /> (Supervisors: Bahar Rastegari, Vahid Yazdanpanah and Sebastian Stein)</li>
    </ul>
    <p>Funding is available for excellent UK students and (and sometimes for exceptional overseas students, e.g., via a Presidential PhD Scholarship).</p>
    <p>For informal enquiries, please contact Prof Sebastian Stein.</p>
    <a href="mailto:ss2@ecs.soton.ac.uk" class="customButton button-secondary" aria-label="Contact Prof Sebastian Stein">Contact Prof Sebastian Stein</a>
  </OneColumn>

  <OneColumn>
    <h2><span style="color: #0c838f">Internship</span></h2>
    <p>We are currently not looking for interns. Please check back or, for informal enquiries, please contact Prof Sebastian Stein.</p>
    <a href="mailto:ss2@ecs.soton.ac.uk" class="customButton button-tertiary" aria-label="Contact Prof Sebastian Stein">Contact Prof Sebastian Stein</a>
  </OneColumn>
</Base>
