---
import Base from '../layouts/Base.astro';
import Hero from '../components/sections/Hero.astro';
import OneColumn from '../components/sections/OneColumn.astro';
import ImageText from '../components/sections/ImageText.astro';
---
<Base title="Partner with us">
  <Hero title="Partner with us" breadcrumb="Engage with us/" image="/wp-content/uploads/2023/11/patener-with-us-header-1.jpg" />

  <OneColumn>
    <h4><span style="color: #450dc0">Does your company work in one of our application areas? Are you interested in contributing industrial insight and guidance to our project?</span></h4>
  </OneColumn>

  <ImageText image="/wp-content/uploads/2023/11/partner-with-us-aerial-shot-of-people-working.jpg" side="left" alt="Aerial shot of people working together">
    <p>Alternatively, are you looking for a short-term collaboration based on an idea for a study or other research you would like to conduct with an academic partner? Either way, we are always interested in working with industrial partners and are open to new interactions. Hence, if you are interested, please get in contact with us by emailing Professor Sebastian Stein.</p>
    <a href="mailto:ss2@ecs.soton.ac.uk" class="customButton button-primary" aria-label="Contact Prof Sebastian Stein">Contact Prof Sebastian Stein</a>
  </ImageText>
</Base>
